{{#models}}
{{#model}}
function New-{{{classname}}} {
    [CmdletBinding()]
    #TODO#[Alias('New-{{{classname}}}')]
    Param (
{{#vars}}
        [Parameter(Position = {{vendorExtensions.x-index}}, ValueFromPipelineByPropertyName = $true{{#required}}, Mandatory = $true{{/required}})]
        {{^isString}}{{^isListContainer}}{{^required}}[System.Nullable{{/required}}{{/isListContainer}}{{/isString}}[{{^isContainer}}{{^isPrimitiveType}}{{^isFile}}{{{packageName}}}.Model.{{/isFile}}{{/isPrimitiveType}}{{/isContainer}}{{{dataType}}}]{{^isString}}{{^isListContainer}}{{^required}}]{{/required}}{{/isListContainer}}{{/isString}}
        {{=<% %>=}}
        ${<%name%>}<%^-last%>,<%/-last%>
        <%={{ }}=%>
{{/vars}}
    )

    Process {
        'Creating object: {{{packageName}}}.Model.{{{classname}}}' | Write-Verbose
        $PSBoundParameters | Out-DebugParameter | Write-Debug

        New-Object -TypeName {{{packageName}}}.Model.{{{classname}}} -ArgumentList @(
{{#vars}}
            {{=<% %>=}}
            ${<%name%>}<%^-last%>,<%/-last%>
            <%={{ }}=%>
{{/vars}}
        )
    }
}
{{/model}}
{{/models}}
